azure-ai-textanalytics
streamlit
pandas
numpy
plotly
matplotlib
requests
python-dotenv
pyvis
wordcloud
altair
azure-ai-language-questionanswering
azure-ai-language-conversations
networkx
tqdm
azure-ai-vision-imageanalysis