azure-ai-textanalytics
streamlit
pandas
numpy
plotly
matplotlib
requests
python-dotenv
pyvis
wordcloud
altair
azure-ai-language-questionanswering
azure-ai-language-conversations
networkx
tqdm
azure-ai-vision-imageanalysis
torch>=1.10.0
transformers>=4.26.0
einops
pillow
timm
azure-ai-documentintelligence
pdf2image
Pillow
uuid
azure-search-documents
python-dateutil
azure-core
azure-ai-contentsafety 
azure-ai-evaluation
azure-common
azure-ai-inference
azure-ai-translation-document
azure-ai-translation-text
azure-ai-ml
azure-ai-projects
azure-identity
azure-cognitiveservices-speech
azure-search-documents
openai
langchain
langchain-openai
python-docx
moviepy==1.0.3
pandas
pillow
langchain-community
opencv-python
opencv-python-headless
openai-agents
pydantic